.todopage {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;

  font-size: 21px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

  h2 {
    font-weight: 400;
    font-size: 32px;
  }

  p {
    margin: 0;
  }
}

.task_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_body {
  max-width: 700px;
  margin: 15px 0;
  padding: 8px;

  font-size: 18px;

  border: 1px solid rgba(36, 128, 170, 0.8);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn_handlers {
  margin-left: 8px;
}

.btn_submit {
  position: relative;

  bottom: 73px;
  left: 520px;
}

.task_input {
  max-width: 600px;
  margin-bottom: 15px;
  padding-right: 90px;

  box-shadow: 0 5px 10px 2px rgba(36, 128, 170, 0.8);
}

.task_textarea {
  margin-bottom: 20px;

  font-family: inherit;

  box-shadow: 0 5px 10px 2px rgba(36, 128, 170, 0.8);
}
