.btn {
  padding: 10px 7px;

  color: #fff;

  background: #2480aa;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease-in;

  &:hover {
    background: #2ea7df;
  }
}

.rounded {
  padding: 8px 10px;

  font-size: 18px;

  background-color: #2480aa;
  border-radius: 50%;
  box-shadow: none;

  &:hover {
    background: #2ea7df;
  }
}
