.btn {
  margin-left: 10px;
  padding: 10px 7px;

  color: #fff;
  font-family: 'Raleway', sans-serif;

  background: #2480aa;
  border: 0;
  border-radius: 6px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);

  transition: all 0.3s ease-in;

  &:hover {
    background: #2ea7df;
  }
}

.submit {
  position: relative;
  bottom: 65px;
  left: 640px;
}
