.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  padding: 3px 12px;

  color: #000;
  font-weight: 400;
  font-size: 24px;

  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn_wrapper {
  display: flex;
  align-items: center;
}

.completed {
  opacity: 30%;
}

.btn_handlers {
  margin-left: 10px;
}
