.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
  max-width: 1370px;
}

.todo-list {
  background: #ececec;
  width: 800px;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.todo,
.input {
  color: #000;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  min-height: 70px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 3px 12px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.input {
  border: 0;
  margin-bottom: 10px;
  min-width: 80%;
  font-weight: 300;
}

.complete-btn {
  background: #2480aa;
  font-family: 'Raleway', sans-serif;
  transition: all 0.4s ease-in;
  margin-left: 10px;
  padding: 10px 7px;
  border-radius: 6px;
  border: 0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    background: #2ea7df;
  }
}
